/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

*,
body {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Hides the scrollbar visually */
}
